@font-face { 
  font-family: "EarthOrbit"; 
  src: url("../assets/earthorbiterxtrabold.ttf") format("truetype"); 
  font-weight: normal; 
  font-style: normal; 
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  text-align: center;

  background-color: black;
}

header { 
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  padding: 2vh 1vh;
  display: flex; 
  justify-content: center;  
  align-items: center; 
  backdrop-filter: blur(10px); 
  background: rgba(11, 11, 11, 0.2); 
  z-index: 10; 
}

.header-image { 
  position: absolute; 
  top: 50%; 
  left: 2vw; 
  transform: translateY(-50%);
  width: 3vw; 
  object-fit: cover; 
  z-index: 11; 
}

.top-boxes { 
  display: flex; 
  flex-wrap: wrap;
  gap: 1.3vw; 
}

.box { 
  font-family: "EarthOrbit", sans-serif;
  background: none;
  background: rgba(255, 255, 255, 0.4); 
  backdrop-filter: blur(20px); 
  color: black; 
  width: 13vw;
  height: 5vh;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: 1vw; 
  border-radius: 1.2vw; 
  transition: 0.3s; 
}

.box:hover { 
  background-color: rgba(215, 213, 208, 0.682); 
  transform: scale(1.05); 
}

.box a { 
font-family: "EarthOrbit", sans-serif;
  text-decoration: none; 
  color: rgb(39, 28, 21); 
}

.box a:hover { 
  color: black; 
}

.box:visited a { 
  color: rgb(95, 39, 5); 
}
